  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Charts</li>
      </ol>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Class Frequency
          <div class="dropdown" style="float:right;">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Graph Type
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item" onclick="toggle_graph_type(this.id,'class');">Bar</button>
              <button id="line" class="dropdown-item" onclick="toggle_graph_type(this.id,'class');">Line</button>
              <button id="stacked-bar" class="dropdown-item" onclick="toggle_graph_type(this.id,'class');">Stacked Bar</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resolution
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item" onclick="toggle_graph_res(this.id, 'class');">Minute</button>
              <button id="hour" class="dropdown-item" onclick="toggle_graph_res(this.id, 'class');">Hour</button>
              <button id="day" class="dropdown-item" onclick="toggle_graph_res(this.id, 'class');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="ClassChart"></div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Sentiment Frequency
          <div class="dropdown" style="float:right;">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Graph Type
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item" onclick="toggle_graph_type(this.id, 'sentiment');">Bar</button>
              <button id="line" class="dropdown-item" onclick="toggle_graph_type(this.id, 'sentiment');">Line</button>
              <button id="stacked-bar" class="dropdown-item" onclick="toggle_graph_type(this.id, 'sentiment');">Stacked Bar</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resolution
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item" onclick="toggle_graph_res(this.id, 'sentiment');">Minute</button>
              <button id="hour" class="dropdown-item" onclick="toggle_graph_res(this.id, 'sentiment');">Hour</button>
              <button id="day" class="dropdown-item" onclick="toggle_graph_res(this.id, 'sentiment');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="SentimentChart"></div>
        </div>
      </div>
    </div>
  </div>
<script>
var queries = <%- JSON.stringify(queries) %>;
</script>
