<h1>This is the table of our data</h1>
<hr>
<br>
<table border="1" cellpadding="25em" cellspacing="1em">
  <tr>
    <th>ID</th>
    <th>AIDR</th>
    <th>Code</th>
  </tr>
  <% entries.forEach(function(entry){ %>
    <tr>
      <td><%= entry.id %></td>
      <td><%- JSON.stringify(entry.aidr) %></td>
      <td><%= entry.code %></td>
    </tr>
  <% }) %>
</table>
