
<!DOCTYPE html>
<html>
<head>
  <title>A.R.G.D.E</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<style>

   #continue_button {position:absolute; bottom:0;  margin-bottom:7px; left: 0;}

  body{
    background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/176410.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
#a_continue{
  text-decoration: none;
  color:white;
}

</style>

<body>


  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">A.R.G.D.E</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<button id="continue_button" type="button" class="btn btn-secondary btn-lg btn-block"><a id="a_continue" href="/data/retrieveMinute?collection=170826213907_hurricane_harvey_2017">Continue</a></button>

</body>
</html>
