<% title = 'Visualizations' %>

<style>
.i-role-exclude, .graphical-report__tooltip__exclude, {
  display:none;
}

.frequency-data-button, .relevancy-data-button, .class-data-button, .damage-data-button, .sentiment-data-button{
  display: none;
}
</style>

<script src="/interface.js"></script>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Tweet Frequency
          <button type="button" class="btn btn-secondary" style="float:right;" onclick="reset('frequency');">Reset</button>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="frequencyTypeButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bar
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item frequencyType" onclick="toggle_graph_type(this.id, 'frequency');">Bar</button>
              <button id="line" class="dropdown-item frequencyType" onclick="toggle_graph_type(this.id, 'frequency');">Line</button>
              <button id="stacked-bar" class="dropdown-item frequencyType" onclick="toggle_graph_type(this.id, 'frequency');">Stacked Bar</button>
              <button id="area" class="dropdown-item frequencyType" onclick="toggle_graph_type(this.id, 'frequency');">Area</button>
              <button id="scatterplot" class="dropdown-item frequencyType" onclick="toggle_graph_type(this.id, 'frequency');">Scatter Plot</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="frequencyResButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Minute
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item frequencyRes" onclick="toggle_graph_res(this.id, 'frequency');">Minute</button>
              <button id="hour" class="dropdown-item frequencyRes" onclick="toggle_graph_res(this.id, 'frequency');">Hour</button>
              <button id="day" class="dropdown-item frequencyRes" onclick="toggle_graph_res(this.id, 'frequency');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="FrequencyChart"></div>
          <p>
            <button class="btn btn-primary frequency-data-button" type="button" data-toggle="collapse" data-target="#frequency_tweets" aria-expanded="false" aria-controls="frequency_tweets"><span class="badge badge-light">1</span>
              Tweets Data
            </button>
          </p>
          <div class="collapse" id="frequency_tweets">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
                  <li class="nav-item">
                   <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#frequency_tweets_card" role="tab" aria-controls="frequency_tweets_card" aria-selected="true">Tweets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#frequency_images_card" role="tab" aria-controls="frequency_images_card" aria-selected="false">Images</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="frequency_tweets_card" role="tabpanel" aria-labelledby="tweets-tab">TWEETS</div>
                  <div class="tab-pane fade" id="frequency_images_card" role="tabpanel" aria-labelledby="images-tab">IMAGES</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Sentiment Frequency
          <button type="button" class="btn btn-secondary" style="float:right;" onclick="reset('sentiment');">Reset</button>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="sentimentTypeButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stacked Bar
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item sentimentType" onclick="toggle_graph_type(this.id, 'sentiment');">Bar</button>
              <button id="line" class="dropdown-item sentimentType" onclick="toggle_graph_type(this.id, 'sentiment');">Line</button>
              <button id="stacked-bar" class="dropdown-item sentimentType" onclick="toggle_graph_type(this.id, 'sentiment');">Stacked Bar</button>
              <button id="area" class="dropdown-item sentimentType" onclick="toggle_graph_type(this.id, 'sentiment');">Area</button>
              <button id="scatterplot" class="dropdown-item sentimentType" onclick="toggle_graph_type(this.id, 'sentiment');">Scatter Plot</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="sentimentResButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Minute
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item sentimentRes" onclick="toggle_graph_res(this.id, 'sentiment');">Minute</button>
              <button id="hour" class="dropdown-item sentimentRes" onclick="toggle_graph_res(this.id, 'sentiment');">Hour</button>
              <button id="day" class="dropdown-item sentimentRes" onclick="toggle_graph_res(this.id, 'sentiment');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="SentimentChart"></div>
            <p>
              <button class="btn btn-primary sentiment-data-button" type="button" data-toggle="collapse" data-target="#sentiment_tweets" aria-expanded="false" aria-controls="sentiment_tweets"><span class="badge badge-light">1</span>
                Tweets Data
              </button>
            </p>
            <div class="collapse" id="sentiment_tweets">
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
                    <li class="nav-item">
                     <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#sentiment_tweets_card" role="tab" aria-controls="sentiment_tweets_card" aria-selected="true">Tweets</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="images-tab" data-toggle="tab" href="#sentiment_images_card" role="tab" aria-controls="sentiment_images_card" aria-selected="false">Images</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="sentiment_tweets_card" role="tabpanel" aria-labelledby="tweets-tab">TWEETS</div>
                    <div class="tab-pane fade" id="sentiment_images_card" role="tabpanel" aria-labelledby="images-tab">IMAGES</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Class Frequency
          <button type="button" class="btn btn-secondary" style="float:right;" onclick="reset('class');">Reset</button>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="classTypeButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stacked Bar
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item classType" onclick="toggle_graph_type(this.id,'class');">Bar</button>
              <button id="line" class="dropdown-item classType" onclick="toggle_graph_type(this.id,'class');">Line</button>
              <button id="stacked-bar" class="dropdown-item classType" onclick="toggle_graph_type(this.id,'class');">Stacked Bar</button>
              <button id="area" class="dropdown-item classType" onclick="toggle_graph_type(this.id, 'class');">Area</button>
              <button id="scatterplot" class="dropdown-item classType" onclick="toggle_graph_type(this.id, 'class');">Scatter Plot</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="classResButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Minute
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item classRes" onclick="toggle_graph_res(this.id, 'class');">Minute</button>
              <button id="hour" class="dropdown-item classRes" onclick="toggle_graph_res(this.id, 'class');">Hour</button>
              <button id="day" class="dropdown-item classRes" onclick="toggle_graph_res(this.id, 'class');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="ClassChart"></div>
          <p>
            <button class="btn btn-primary class-data-button" type="button" data-toggle="collapse" data-target="#class_tweets" aria-expanded="false" aria-controls="class_tweets"><span class="badge badge-light">1</span>
              Tweets Data
            </button>
          </p>
          <div class="collapse" id="class_tweets">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
                  <li class="nav-item">
                   <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#class_tweets_card" role="tab" aria-controls="class_tweets_card" aria-selected="true">Tweets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#class_images_card" role="tab" aria-controls="class_images_card" aria-selected="false">Images</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="class_tweets_card" role="tabpanel" aria-labelledby="tweets-tab">TWEETS</div>
                  <div class="tab-pane fade" id="class_images_card" role="tabpanel" aria-labelledby="images-tab">IMAGES</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Image Relevancy Frequency
          <button type="button" class="btn btn-secondary" style="float:right;" onclick="reset('relevancy');">Reset</button>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="relevancyTypeButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Line
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item relevancyType" onclick="toggle_graph_type(this.id,'relevancy');">Bar</button>
              <button id="line" class="dropdown-item relevancyType" onclick="toggle_graph_type(this.id,'relevancy');">Line</button>
              <button id="stacked-bar" class="dropdown-item relevancyType" onclick="toggle_graph_type(this.id,'relevancy');">Stacked Bar</button>
              <button id="area" class="dropdown-item relevancyType" onclick="toggle_graph_type(this.id, 'relevancy');">Area</button>
              <button id="scatterplot" class="dropdown-item relevancyType" onclick="toggle_graph_type(this.id, 'relevancy');">Scatter Plot</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="relevancyResButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Minute
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item relevancyRes" onclick="toggle_graph_res(this.id, 'relevancy');">Minute</button>
              <button id="hour" class="dropdown-item relevancyRes" onclick="toggle_graph_res(this.id, 'relevancy');">Hour</button>
              <button id="day" class="dropdown-item relevancyRes" onclick="toggle_graph_res(this.id, 'relevancy');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="RelevancyChart"></div>
          <p>
            <button class="btn btn-primary relevancy-data-button" type="button" data-toggle="collapse" data-target="#relevancy_tweets" aria-expanded="false" aria-controls="relevancy_tweets"><span class="badge badge-light">1</span>
              Tweets Data
            </button>
          </p>
          <div class="collapse" id="relevancy_tweets">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
                  <li class="nav-item">
                   <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#relevancy_tweets_card" role="tab" aria-controls="relevancy_tweets_card" aria-selected="true">Tweets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#relevancy_images_card" role="tab" aria-controls="relevancy_images_card" aria-selected="false">Images</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="relevancy_tweets_card" role="tabpanel" aria-labelledby="tweets-tab">TWEETS</div>
                  <div class="tab-pane fade" id="relevancy_images_card" role="tabpanel" aria-labelledby="images-tab">IMAGES</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Damage Frequency
          <button type="button" class="btn btn-secondary" style="float:right;" onclick="reset('damage');">Reset</button>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="damageTypeButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stacked Bar
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="bar" class="dropdown-item damageType" onclick="toggle_graph_type(this.id,'damage');">Bar</button>
              <button id="line" class="dropdown-item damageType" onclick="toggle_graph_type(this.id,'damage');">Line</button>
              <button id="stacked-bar" class="dropdown-item damageType" onclick="toggle_graph_type(this.id,'damage');">Stacked Bar</button>
              <button id="area" class="dropdown-item damageType" onclick="toggle_graph_type(this.id, 'damage');">Area</button>
              <button id="scatterplot" class="dropdown-item damageType" onclick="toggle_graph_type(this.id, 'damage');">Scatter Plot</button>
            </div>
          </div>
          <div class="dropdown" style="float:right; padding-right:1em;">
            <a id="damageResButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Minute
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button id="minute" class="dropdown-item damageRes" onclick="toggle_graph_res(this.id, 'damage');">Minute</button>
              <button id="hour" class="dropdown-item damageRes" onclick="toggle_graph_res(this.id, 'damage');">Hour</button>
              <button id="day" class="dropdown-item damageRes" onclick="toggle_graph_res(this.id, 'damage');">Day</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="DamageChart"></div>
          <p>
            <button class="btn btn-primary damage-data-button" type="button" data-toggle="collapse" data-target="#damage_tweets" aria-expanded="false" aria-controls="damage_tweets"><span class="badge badge-light damage-tweet-num"></span>
              Tweets Data
            </button>
          </p>
          <div class="collapse" id="damage_tweets">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
                  <li class="nav-item">
                   <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#damage_tweets_card" role="tab" aria-controls="damage_tweets_card" aria-selected="true">Tweets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#damage_images_card" role="tab" aria-controls="damage_images_card" aria-selected="false">Images</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="damage_tweets_card" role="tabpanel" aria-labelledby="tweets-tab">
                    <div class = "card-deck" id = "damage_tweets_load">
                    </div>
                    <br>
                    <nav aria-label="damage_tweets_card_pagination">
                      <ul class="pagination justify-content-center" id = "dt_paginator">
                      </ul>
                      <p id = "dt_numinator" style='text-align: center'></p>
                    </nav>
                    <br>
                  </div>
                  <div class="tab-pane fade" id="damage_images_card" role="tabpanel" aria-labelledby="images-tab">
                    <div id="damage_images_indicators" class="carousel slide" data-ride="carousel">
                      <ol id="damage_images_indicator" class="carousel-indicators"></ol>
                      <div id="damage_images_carousel" class="carousel-inner">
                      </div>
                      <a class="carousel-control-prev" href="#damage_images_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#damage_images_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
var queries = <%- JSON.stringify(queries) %>;
</script>
